<div>
  <form class="pure-form pure-form-aligned" ng-submit="createInteraction()">
    <fieldset>
      <div class="pure-control-group">
        <label>Interaction Title</label>
        <input type="text" ng-model="title" class="pure-input-2-3">
      </div>
      <div class="pure-control-group">
        <label>Interaction Description</label>
        <input type="text" ng-model="description" class="pure-input-2-3">
      </div>
      <div class="pure-control-group">
        <label>Description for A</label>
        <input type="text" ng-model="descA" class="pure-input-2-3">
      </div>
      <div class="pure-control-group">
        <label>HTML for A</label>
        <input type="text" ng-model="htmlA" class="pure-input-2-3">
      </div>
      <div class="pure-control-group">
        <label>Description for B</label>
        <input type="text" ng-model="descB" class="pure-input-2-3">
      </div>
      <div class="pure-control-group">
        <label>HTML for B</label>
        <input type="text" ng-model="htmlB" class="pure-input-2-3">
      </div>
      <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">
          Submit
        </button>
      </div>
    </fieldset>
  </form>
</div>