<div>
 <h3>Manage Page</h3>
 <h4>Current Interactions</h4>
 <table class="pure-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Target Selector</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="interaction in data.interactions">
        <td>{{interaction.title}}</td>
        <td>{{interaction.description}}</td>
        <td>{{interaction.targetSelector}}</td>
        <td><a href="">Remove</a></td>
      </tr>
    </tbody>
  </table>
  
  <h4>Available Interactions</h4>
   <table class="pure-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Test A:</th>
            <th>Test B:</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="interaction in data.availableInteractions">
        <td>{{interaction.title}}</td>
        <td>{{interaction.description}}</td>
        <td ng-bind-html="interaction.iterations[0].htmlContent | sanitize"> </td>
        <td ng-bind-html="interaction.iterations[1].htmlContent | sanitize"> </td>
        <td><a href="">Add</a></td>
      </tr>
    </tbody>
  </table>
</div>